services:
  snell-server:
    image: q118118/snell-server:5.0.1
    restart: unless-stopped
    networks:
      - snell
    environment:
      - PSK=password # Change here
      - PORT=8443
      - OBFS=off
      - TFO=false
      - IPV6=false
      - DNS=9.9.9.9,1.1.1.1

  shadow-tls:
    image: ghcr.io/ihciah/shadow-tls:latest
    restart: unless-stopped
    ports:
      - "443:443" # Change to your own port
    networks:
      - snell
    environment:
      - MODE=server
      - LISTEN=:::443
      - SERVER=snell-server:8443
      - TLS=cloud.tencent.com:443 # Change here
      - PASSWORD=password # Change here
      # - V3=true

networks:
  snell:
    driver: bridge
